{%extends "_layout.html"%}
{%block content%}

<div class="d-flex justify-content-center m-3">
    <img style = "width:400px;height:400px" src = "{{image.image_url}}" />
</div>

{%for comment in image.comments%}
    <!-- <div class="d-flex justify-content-center"> -->
        <div class="container" style="width: 300px;" style="font-family: 'Roboto', sans-serif;">
                <div class="dialogbox">
                    <div class="body">
                      <span class=""></span>
                          <div class="message">
                            <span>{{comment.comment}}</span>
                          </div>
                    </div>
                </div>
        </div>    
        
        
    <!-- </div> -->


{%endfor%}
 <div class="d-flex justify-content-center m-3" style="font-family: 'Black Ops One', cursive;">

    <form action="{{ url_for('comments.create') }}" method="POST" >
        <div>
           <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        </div>
            <label class="font-italic" for="comment">LEAVE A COMMENT</label>
            <br>
                <input id = 'commentInput' onkeydown="disableSubmit()" type="text" name="comment" style="font-family: 'Roboto', sans-serif;">
                <input type="hidden" name='image' value='{{image.id}}'>
                    <button class="btn btn-danger form-container" id='submitComment' type="submit" disabled>POST</button>
    </form>
 </div>

{%endblock%}