/* body, html {
  height: 100vh;
} */

#page-container{
  position: relative;
  min-height: 100vh;
}

#page-content{
  padding-bottom: 125px;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.talesCard {
    height: 250px;

}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.tales {
    width: 100%;
    height: 10%;
}

.carousel-inner > .item > img {
    width:100%;
    height:800px;
}

/* Badges */
.main-wrapper {
	width: 90%;
	max-width: 900px;
	margin: 3em auto;
	text-align: center;
}


.yellow {
    background: linear-gradient(to bottom right, #ffeb3b 0%, #fbc02d 100%);
    color: #ffb300;
}

.orange {
	background: linear-gradient(to bottom right, #ffc107 0%, #f57c00 100%);
	color: #f68401;
}

.pink {
	background: linear-gradient(to bottom right, #F48FB1 0%, #d81b60 100%);
	color: #dc306f;
}

.red {
	background: linear-gradient(to bottom right, #f4511e 0%, #b71c1c 100%);
	color: #c62828;
}


.badge {
    position: relative;
    margin: 1.5em 3em;
    width: 6em;
    height: 8.2em;
    border-radius: 10px;
    display: inline-block;
    top: 0;
    transition: all 0.2s ease;
  }
  .badge:before, .badge:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .badge:before {
    transform: rotate(60deg);
  }
  .badge:after {
    transform: rotate(-60deg);
  }
  .badge:hover {
    top: -4px;
  }
  .badge .circle {
    width: 80px;
    height: 80px;
    position: absolute;
    background: #fff;
    z-index: 10;
    border-radius: 50%;
    top: 0;
    left: -5px;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .badge .circle i.fa {
    font-size: 2em;
    margin-top: 8px;
  }
  .badge .font {
    display: inline-block;
    margin-top: 1em;
  }
  .badge .ribbon {
    position: absolute;
    border-radius: 4px;
    padding: 5px 5px 4px;
    width: 100px;
    z-index: 11;
    color: #fff;
    bottom: 36px;
    left: 50%;
    margin-left: -50px;
    height: 25px;
    font-size: 14px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.27);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    background: linear-gradient(to bottom right, #555 0%, #333 100%);
    cursor: default;
  }

  /* something new */

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
/* measurement & profile picture upload */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border: 1px solid #6c757d;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #6c757d;
    color: white;
}



/* checkbox */
.checkboxes {
  text-align:center;
 }

.checkboxes input{
  margin: 0px 0px 0px 0px;
 }

 .checkboxes label{
   margin: 0px 20px 0px 3px;
 }


/* Search results */
.search-display{
  text-decoration: none;
  color: #343a40;
}

.search-display:hover {
  text-decoration: none;
  background: #343a40;
  color: #fff;
}

.userbox {
  border: #b71c1c;
  border-style: solid;
  width: 350px;
  }

h3 {
    text-align: center;
}

  /* bio body */
.bio_body {
    border:black;
    border-style: solid;
  }


/*Flash messages*/
.alert {
  position: sticky;
  top: 0;
  z-index: 1;
  margin: 0 3vw;
}

/* Profile Image */
.profile-image{
  border-radius: 0.25rem;
}

.photo-link {
  background: rgba(52, 58, 64, 0.75);
  color: white;
  border-radius: 0 0.25rem;
  padding: 0 0.5rem;
  font-size: 0.9rem;
}

.photo-link:hover{
  text-decoration: none;
  color: #343a40;
  background: rgba(255,255,255,0.75)
}

/* Profile Image uploader */
#profile_image_viewer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.upload-view {
  max-width: 100%;
  max-height: 100%;
}


.content_image{
  display: flex;
  flex-wrap: wrap;
}

.user-image{
  position: relative;
  width: 200px;
  height: 200px;
}

.delete-image{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  border-radius: 0 0.2rem 0 0.2rem;
  padding: 0 0.5rem;
  color: white;
  background: rgba(220,53,69, 0.40)
}

.delete-image:hover{
  color: white;
  background: rgb(220,53,69)
}
