{%extends "_layout.html"%}
{%block content%}


    {% for error in errors%}
    <li>{{error}}</li>
    {%endfor%}


    <h3 class='text-center m-3'>USER SIGN UP FORM</h3>
    <form action="{{ url_for('users.create') }}" method='POST'>

        <div>
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}" >
        </div>

           <div class="container">
            <div class="form-group">
             <label for='first_name'>First Name:</label>
               <input class='form-control' type='text' name='first_name'/>
              </div>
              <div class="form-group">
             <label for='last_name'>Last Name:</label>
               <input class='form-control' type='text' name='last_name' />
              </div>
              <div class="form-group">
             <label for='email'>Email:</label>
               <input class='form-control' type='email' name='email' />
              </div>
              <div class="form-group">
             <label for='username'>Username:</label>
               <input class='form-control' type='text' maxlength="18" name='username' />
              </div>
              <div class="form-group">
             <label for='password'>Password:</label>
               <input  id="pass" class='form-control' type='password' name='password' maxlength="18" onkeydown="check_pass()" />
                 <small id="passResult"></small>
                </div>
                <div class="form-group">
             <label for='bio'>Profile description:</label>
             <input class='form-control' type='text' name='bio' />
              </div>
            <div class="form-group">
             <div class="form-check checkboxes ">
                 
                 <input type="checkbox" value="true" name="power" id="power">
                     <label class="form-check-label " for="power">
                       Power
                     </label>
                 <input type="checkbox" value="true" name='endurance' id="endurance">
                     <label class="form-check-label " for="endurance">
                       Endurance
                     </label>
                 <input type="checkbox" value="true" name='calisthenic' id="calisthenic">
                     <label class="form-check-label " for="calisthenics">
                       Calisthenics
                     </label>
                 <input type="checkbox" value="true" name='team_sport' id="team_sport">
                     <label class="form-check-label" for="team_sport">
                       Team Sports
                     </label>
               </div>
              </div> 

        <button style="font-family: 'Black Ops One', cursive;" class = 'btn btn-danger d-block mx-auto' type='submit'>SUBMIT</button>   

    </form>
    
{%endblock%}