{%extends "_layout.html"%}
{%block content%}
    <div class="">
    <div class="d-inline-flex ">


        <div class="userbox m-3 ">
   
       <div class="d-flex justify-content-center m-3">
             <div style="position:relative">
    {% if user.username == current_user.username %}
        <a href="{{url_for('users.edit', id=current_user.id)}}" class='edit-profile'><i class="far fa-edit"></i></a>
        <button type="button" class="photo-link btn btn-link" data-toggle="modal" data-target="#newProfilePicture">+</button>
    {% endif %}
          <div class="profile-image shadow" style="background-image:url('{{user.profile_image_url}}')">
          </div>
        </div>
       </div>

       
    <div class="container">
       <div class="d-flex justify-content-around">
            <h3><em>{{user.username}}</em></h3>    
        {%if current_user.is_authenticated%}
        {%if current_user.id != user.id%}
        {%if current_user.is_follow(user.id)%}
        
                <form action="{{url_for('fan_idol.unfollow', id = user.id)}}" method = 'POST'>
                    <div>
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                    </div>
            
                    <input type="submit" class ='btn btn-outline-danger' name = 'Unfollow' value = 'Unfollow'>  
                </form>
        
        {%else%}
        
                <form action="{{url_for('fan_idol.follow', id = user.id)}}" method = 'POST'>
                    <div>
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                    </div>
        
                    <input type="submit" class ='btn btn-outline-success' name = 'follow' value = 'Follow'>  
                </form>
        
        {%endif%}
        {%endif%}
        {%endif%}
       </div>
    </div>
        
        <hr>
        <div class="main-wrapper">
            {%if user.power%}
            <a href="{{url_for('users.get_by_category', category='power')}}">
                <div class="badge yellow">
                    <div class="circle"></div>
                    <div class="ribbontwo">Power</div>
                </div>
            </a>
            {%endif%}
            {%if user.endurance%}
            <a href="{{url_for('users.get_by_category', category='endurance')}}">
                <div class="badge orange">
                    <div class="circle"> </i></div>
                    <div class="ribbontwo">Endurance</div>
                </div>
            </a>
            {%endif%}
            {%if user.calisthenics%}
            <a href="{{url_for('users.get_by_category', category='calisthenics')}}">
                <div class="badge pink">
                    <div class="circle"> </div>
                    <div class="ribbon">Calisthenics</div>
                </div>
            </a>
            {%endif%}
            {%if user.teamsports%}
            <a href="{{url_for('users.get_by_category', category='teamsports')}}">
                <div class="badge red">
                    <div class="circle"></div>
                    <div class="ribbon">Team Sport</div>
                </div>
            </a>
            {%endif%}
            <hr>
            <p>About Me</p>
            <div class="bio_body m-3">
                {{ user.bio }}
            </div>
            <hr>
            <div>
                <strong>Measurements</strong>
                {% if user.measurements %}
                <p class="m-0"><button class="btn btn-link p-0 sizeBtn">in | cm</button></p>
                <strong>Bicep</strong>
                {% for measurement in user.measurements %}
                    <div class='bicep-measurements'>
                        <div class='date'>
                            <p><em>
                                {{ measurement.created_at.strftime('%d %b %Y') }}
                            </em>-</p>
                        </div>
                        {% set cm = measurement.bicep/10%}
                        <div class='size'>
                            <p><span class="sizeNum">{{cm | round(1, 'floor')}}</span> <span class="sizeUnit">cm</span></p>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                <p>No measurements</p>
                {% endif %}
            </div>
        </div>         
     </div>
    <div class="wrappertwo">
        <div class="content_image m-3 ">
            {% if current_user.id == user.id %}
            <button type="button" class="user-image d-flex justify-content-center align-items-center p-0" data-toggle="modal" data-target="#newUserImage"
            style="background:#effff5;outline:none;border-color:#c4d4ca;">
                <img class='w-50' src="https://static.thenounproject.com/png/558475-200.png">
            </button>
            {% endif %}
    
            {%for image in user.images%}
            <div class='user-image'>
                {% if current_user.id == user.id %}
                    <form action="{{ url_for('images.delete', id=image.id) }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                        <button class="btn delete-image"><i class="fas fa-trash-alt"></i></button>
                    </form>
                {% endif %}
                <a class="user-image-link" href="{{ url_for('images.display_img', id=image.id) }}" style="background-image:url('{{image.image_url}}')">
                </a>
            </div>
            {%endfor%}
            </div>

        </div>
        
    </div>
    </div>


<div class="modal fade" id="newProfilePicture" tabindex="-1" role="dialog" aria-labelledby="newProfilePictureTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newProfilePictureTitle">Upload Profile Picture</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <form class="text-center" action="{{ url_for('images.upload_file', id=user.id)}}" method="POST" enctype="multipart/form-data">
                        
                        <input type="file" name="profile_image" id="profile_image" class="inputfile mb-0" onchange="viewProfileImage(this)"/>
                        <label class="mb-0" for="profile_image">Choose a file</label>
                
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button class="btn btn-outline-secondary" type="submit">Upload</button>
                       
                    </form>

                    <div id="profile_image_viewer" class="mt-3">
                        <img id="profile_image_placeholder" class='profile-image upload-view' src="https://www.fwhealth.org/wp-content/uploads/2017/03/placeholder-500x500.jpg">
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newUserImage" tabindex="-1" role="dialog" aria-labelledby="newUserImageTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newUserImageTitle">Upload New Picture</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <form class="text-center" action="{{url_for('images.create')}}" method="POST" enctype="multipart/form-data">

                            <div id="new_image_viewer" class="mb-3">
                                <img id="new_image_placeholder" class='upload-view' src="https://www.fwhealth.org/wp-content/uploads/2017/03/placeholder-500x500.jpg">
                            </div>

                            <div class="form-group mx-5">
                                <input class="form-control" type="text" name="comment" placeholder="Type your comment here">
                            </div>
                            
                            <input type="file" name="user_file" id="user_file" class="inputfile mb-0" onchange="viewNewImage(this)"/>
                            <label class="mb-0" for="user_file">Choose a file</label>
                    
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button class="btn btn-outline-secondary" type="submit">Upload</button>
                        </form>

                </div>
            </div>
        </div>
    </div>

{%endblock%}